@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);

@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
  font-family: 'Open Sans';
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: 600;
  zoom: 130%;

  /*font-family: 'Avenir Next';*/
  /*font-weight: 750;*/

  margin: 0;
  line-height: 110%;
}

.logo {
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
}

.blue {
  background-color: #44CEFD;
  color: white;
  padding: 0 16px;
}

.remark-slide-container .remark-slide-content {
  background-color: #44CEFD;
}

.remark-slide-container .remark-slide-content.no-background {
  background-color: white;
}


/*.remark-slide-container:nth-of-type(2n + 1) .remark-slide-content {*/
  /*background: #ff4400;*/
/*}*/

.remark-slide-container .remark-slide-content.main {
  background-color: white;
}

.main h1, .main h2, .main h3, .main p {
  color: rgb(84, 84, 84);
}
.main h1, .main h2 {
  text-transform: uppercase;
}

h1, h2, h3, p {
  color: white;
}

h1, h2, h3, p {
  text-align: center;
}

p {
  zoom: 180%;
}

ul li p, ul li {
  text-align: left;
  color: white;
  zoom: 180%;
}

ul li {
  margin-bottom: 12px;
}

ul {
  margin-top: 50px;
}

.fake-middle {
  vertical-align: middle;
  padding-bottom: 15vh;
}

.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
/*.remark-code-line-highlighted     { background-color: #003d51; }*/

.remark-inline-code {
  background-color: #424242;
  padding: 2px 18px;
}

.kashmir {
  background: white !important;
}

.kashmir-logo {
  zoom: 100%;
}

img {
  zoom: 0;
}

.image img {
  max-width: 700px;
  max-height: 700px;
}

.code-slide {
  /*background-color: #272822 !important;*/
}

.code-slide p {
  display: none;
}

.code-slide .logo, .no-logo .logo {
  display: none;
}

.code-slide .remark-code {
  font-size: 27px;
}

.short-code .remark-code {
  font-size: 40px;
}

.long-code .remark-code {
  font-size: 22px;
}

.right-column {
  float: right;
  width: 50%;
}

.left-column {
  float: left;
  width: 50%;
}

a {
  color: white;
}

.image p {
  zoom: 0;
}

.layers {
  background-color: white !important;
}


.aarrr h1 {
  color: rgb(84, 84, 84);
  margin-bottom: 30px;
}

.fancy-list {
  display: inline-block;
  width: 50%;
  float: left;
  padding: 5px 18px;
  box-sizing: border-box;
  font-size: 10px;
  margin-top: -30px;
}

.fancy-list p {
  color: rgb(84, 84, 84);
}

.fancy-list ul {
  margin: 0;
  padding: 0;
}

.fancy-list ul li {
  background-color: #44CEFD;
  color: white;
  padding: 8px 16px;
  list-style: none;
  text-transform: uppercase;
  text-align: center;
}

.roles ul li {
  background-color: #ff4400;
}

.rent img {
  width: 100%;
}
